@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h1>Веб-чат</h1>
    <p class="lead">Веб-чат - это платформа для обмена сообщениями с другими пользователями в режиме реального времени.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Как пользоваться</h2>
        <p>
            Для того, чтобы участвовать в обмене сообщениями, необходимо быть зарегистрированными пользователем.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Регистрация &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Вход в чат</h2>
        <p>Если Вы уже зарегистрированы, необходимо войти в систему под своим логином (email) и паролем.</p>
        <p><a class="btn btn-default" href="/Account/Login">Войти &raquo;</a></p>
    </div>
</div>